<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input{
            width: 300px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:action="@{/edit(id=${book.id})}" th:method="post" th:object="${book}" action="edit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="id-title">Title:</label>
        <input id="id-title" title="title" type="text" th:field="*{title}" value="John Doe"/>
    </div>

    <div class="row">
        <label for="id-author">Author:</label>
        <input id="id-author" title="author" type="text" th:field="*{author.name}" value="John Doe"/>
    </div>

    <div class="row">
        <label for="id-genre">Genre:</label>
        <input id="id-genre" title="genre" type="text" th:field="*{genre.name}" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit" value="Submit">Save</button>
    </div>
</form>

</body>
</html>