<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="csvReaderProviderFromResourceFile" class="org.maxvas.service.CsvReaderProviderFromResourceFile">
        <constructor-arg name="resourcePath" value="/questions.csv"/>
    </bean>
    <bean id="printQuestionService" class="org.maxvas.service.PrintQuestionService"/>
    <bean id="questionReader" class="org.maxvas.service.QuestionReaderService">
        <constructor-arg name="csvReaderProvider" ref="csvReaderProviderFromResourceFile"/>
    </bean>
    <bean id="quizService" class="org.maxvas.service.QuizService">
        <constructor-arg name="questionReader" ref="questionReader"/>
        <constructor-arg name="printQuestionService" ref="printQuestionService"/>
    </bean>
</beans>
